{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">İletişim Bilgilerimiz</h1>
        <p class="lead"></p>
    </div>

</div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class = "card-img" src="{% static 'img/9.jpg' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title"></div>
                            <p class="card-text">
                                Elazığ ve Diyarbakır olmak üzere 2 barınağımız ile dostlarımızın yanındayız
                            </p>
                            <p class = "card-text">
                                <small class="text-muted"></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class = "card-img" src="{% static 'img/10.jpg' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title"></div>
                            <p class="card-text">
                                Kültür Mahallesi Akman Sokak No:6/B Merkez/ELAZIĞ
                                
                            </p>
                            <p class="card-text">
                                Elazığ İletişim Numarası:05380114472
                                
                            </p>
                            <p class = "card-text">
                                <small class="text-muted"></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class = "card-img" src="{% static 'img/11.jpeg' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title"></div>
                            <p class="card-text">
                                Adnan Menderes Mahallesi 5. Sokak No:104/C Ergani/DİYARBAKIR
                                
                            </p>
                            <p class="card-text">
                                
                                Diyarbakır İletişim Numarası:05412487038
                            </p>
                            <p class = "card-text">
                                <small class="text-muted"></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}